body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    color: #3f3f3f;
    margin-bottom: 30px;
}

#addTask {
    background-color: #589db5;
    border: none;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

#addTask:hover {
    background-color: #4aa0ed;
}

#taskList {
    list-style: none;
    padding: 0;
    margin: 0;
}

#taskList li {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#taskList li span {
    font-size: 1.1em;
    color: #3f3f3f;
}

#taskList li .delete {
    background-color: #f53b57;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

#taskList li .delete:hover {
    background-color: #e62944;
}